*{
        margin: 0;
        padding: 0;
        background-color:#23384B;
    }
    body{
        width:100vw; 
        height:100vh; 
        display:flex; 
        align-items:center; 
        justify-content:center;
    }
    .conteiner{
        width:348px; 
        height:222px; 
        margin:0 auto; 
        margin-top:40px
    }
    .Tb{
        width:100%; 
        height:50px; 
        justify-content:space-between; 
        display:flex;
    }
    .Mb{
        width:100%; 
        height:100px; 
        margin-top:10px; 
        display:flex; 
        gap:20px;
    }
    .B1{
        background-color:#F0CD48; 
        width:41px; 
        height:100px;
    }
    .B2{
        background-color:#F0CD48; 
        width:102px; 
        height:40px;
    }
    .Ib{
         width:100%; 
         height:50px; 
         justify-content:space-between; 
         display:flex; 
         align-items:end; 
         margin-top:12px;
    }